Repository ekatsaros/starwars_api: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations-check, django-check

.pre-commit-config.yaml:

# .pre-commit-config.yaml (28.06.2024)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files


  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [ --profile=black, --line-length=120,]


  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        args: [--line-length=120,]


  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [ --max-line-length=120,]


  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        args: [ --disallow-untyped-defs, --disallow-incomplete-defs, --disallow-untyped-calls, --ignore-missing-imports ]
        additional_dependencies: [tokenize-rt==3.2.0]



  - repo: local
    hooks:
      - id: migrations-check
        language: system
        name: Check for uncreated migrations.
        entry: sh -c "python manage.py makemigrations --check --dry-run"
        files: "models\\.py$"
        stages: [ pre-commit ]



  - repo: local
    hooks:
      - id: django-check
        name: Run Django Check
        entry: python manage.py check
        language: system
        pass_filenames: false
        types: [python]

Create endpoint for User registration. Refactoring
  starwars_api/urls.py
  users/serializers/__init__.py
  users/serializers/user.py
  users/tests/__init__.py
  users/tests/test_api.py
  users/tests/test_models.py
  users/urls.py
  users/views.py
Due: migrations-check, django-check

Co-pilot suggested changes.
  starwars_api/urls.py
  users/tests/test_api.py
Due: django-check

Co-pilot suggested changes.
  starwars_api/urls.py
  users/serializers/user.py
  users/tests/test_api.py
  users/views.py
Due: django-check

Add docstrings.
  users/views.py
Due: django-check

Add API Documentation (DRF Spectacular).
  starwars_api/settings.py
  starwars_api/urls.py
  users/serializers/errors.py
  users/views.py
Due: django-check

Add API Documentation (DRF Spectacular).
  api/__init__.py
  api/admin.py
  api/apps.py
  api/migrations/0001_initial.py
  api/migrations/0002_alter_vote_unique_together_and_more.py
  api/migrations/__init__.py
  api/models.py
  api/tests/__init__.py
  api/tests/test_models.py
  api/views.py
  starwars_api/settings.py
  starwars_api/urls.py
  users/serializers/errors.py
  users/views.py
Due: migrations-check, django-check

Add test coverage.
  .coveragerc
  requirements.txt
Due: none

Add swapi client to fetch data.
  clients/__init__.py
  clients/swapi_client.py
  clients/tests/__init__.py
  clients/tests/test_swapi_client.py
  clients/utils/__init__.py
  clients/utils/error_handling.py
  clients/utils/exceptions.py
Due: django-check

Changes after co-pilot suggestions.
  clients/swapi_client.py
  clients/tests/test_swapi_client.py
  clients/utils/error_handling.py
Due: django-check

Add test for SSL Verification failure. Refactoring client.
  clients/swapi_client.py
  clients/tests/test_swapi_client.py
  clients/utils/error_handling.py
  clients/utils/exceptions.py
Due: django-check

Add swapi_service to fetch and store data(sync). Add management command to call the swapi_service to fetch and store data.
  api/management/__init__.py
  api/management/commands/__init__.py
  api/management/commands/fetch_swapi.py
  api/migrations/0001_initial.py
  api/migrations/0002_alter_vote_unique_together_and_more.py
  api/models.py
  api/swapi_service.py
  api/tests/test_models.py
  clients/swapi_client.py
  clients/tests/test_swapi_client.py
Due: migrations-check, django-check

Various fixes and changes.
  api/management/commands/fetch_swapi.py
  api/swapi_service.py
  clients/swapi_client.py
Due: django-check

Add ApiViews for fetching films, characters, starships with pagination and error handling.
  api/exceptions.py
  api/fetch_db_data_service.py
  api/serializers.py
  api/urls.py
  api/views.py
  starwars_api/urls.py
Due: django-check

Add Vote APIView. Add number of votes for voted Char, Film or Starship.
  api/models.py
  api/serializers.py
  api/urls.py
  api/views.py
  users/utils/__init__.py
  users/utils/auth.py
Due: migrations-check, django-check

Add README.md file
  README.md
Due: none

Add tests for the api.
  api/exceptions.py
  api/serializers.py
  api/tests/test_api.py
  api/views.py
Due: django-check

Add changes to README.
  README.md
  img_2.png
Due: none

More fixes to README.
  README.md
Due: none

Fix swapi_service to sync/update data if they exist as well.
  api/swapi_service.py
Due: django-check

Improve swapi service.
  api/swapi_service.py
Due: django-check

mend
  api/swapi_service.py
Due: django-check
